/* #Font
================================================== */
/* GT Eesti */
@import url(//db.onlinewebfonts.com/c/435d667718407271e1ae7a0269b6e1bd?family=GT+Eesti+Pro+Text+Book);
@import url(//db.onlinewebfonts.com/c/8426a32eac5d066df381defc65f5b85f?family=GT+Eesti+Pro+Display+Medium);

/* F37 Ginger */
@font-face {
	font-family: 'f37';
	src: url('./fonts/F37GingerPro-Regular.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'f37';
	src: url('./fonts/F37GingerPro-Bold.otf');
	font-weight: 600;
	font-style: normal;
}

/* #Variables
================================================== */
:root {
  /* Colors */
  --purple-1: #332e56;
  --purple-2: #8089ad;
  --purple-3: #7886fc;
  --purple-4: #0d0c28;
  --purple-5: #2b3655;

  /* Container Sizes */
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1330px;
}

/* #Global
================================================== */
body {
  font-family: 'GT Eesti Pro Text Book';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* transition: all .1s ease-in-out; */
}

button {
  cursor: pointer;
}

.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* #Utilities
================================================== */
.container,
.container-lg {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: var(--container-sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-md);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: var(--container-lg);
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: var(--container-xl);
  }
}

/* #Typography
================================================== */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'f37';
  line-height: 1.2;
}

.h-primary {
  font-size: 60px;
  color: white;
}

.h-primary span {
  display: block;
}

.h-secondary {
  font-size: 40px;
  color: var(--purple-1);
}

.h-tertiary {
  font-size: 30px;
  color: var(--purple-1);
}

.h-quintary {
  font-size: 25px;
  color: var(--purple-1);
}

/* Paragraphs */
.p-primary {
  font-size: 20px;
  color: var(--purple-2);
}

.p-secondary {
  font-size: 16px;
  color: var(--purple-2);
}

.p-tertiary {
  font-size: 14px;
  color: var(--purple-2);
}

.p-quintary {
  font-size: 12px;
  color: var(--purple-2);
}

/* #Buttons & Links
================================================== */
.btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  height: 50px;
  border-radius: 6px;
  padding: 0 30px;
  cursor: pointer;
  font-family: 'GT Eesti Pro Display Medium';
  color: white;
}

.btn-primary {
  background-color: var(--purple-4);
}

.btn-link {
  color: var(--purple-3);
}

/* Hero Btns */
.hero-btn-1 {
  background-color: #ffcc4b;
  font-size: 20px;
  margin-right: 30px;
  height: 55px;
}

.hero-btn-2 {
  background-color: #6aacfe;
  font-size: 20px;
  height: 55px;
}

/* #Header
================================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 40px 0;
  font-size: 18px;
  color: white;
  transition: all .5s ease-out;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Apps */
.header .apps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.header .apps a:first-child {
  margin-right: 5px;
}

/* Navigation Links */
.header-nav {
  margin-left: auto;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav li:not(:last-child) {
  margin-right: 35px;
}

.header-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav a img {
  margin-right: 12px;
}

/* Hamburger */
.header .hamburger {
  display: none;
}

/* Divider */
.hero-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* #Header Popup
================================================== */
.header-popup {
  display: none;
}

/* #Hero
================================================== */
.hero {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url('./img/hero-bg-img.png');
  color: white;
  font-size: 18px;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Text */
.hero .text {
  flex: 0 0 50%;
}

.hero .text p {
  color: white;
  font-weight: 100;
  max-width: 580px;
  margin: 35px 0;
}

.hero .brands {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.hero .brands ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero .brands ul li {
  margin-right: 25px;
}

.hero .brands ul li:last-child {
  margin-right: 40px;
}

.hero .brands a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero .brands a img {
  margin-left: 15px;
}

/* Img */
.hero .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 50%;
}

/* #About
================================================== */
.about {
  padding: 170px 0 200px 0;
}

/* Header */
.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-header .img,
.about-header .text {
  flex: 0 0 50%;
}

.about-header .img {
  padding-right: 40px;
}

.about-header .text {
  padding-left: 40px;
}

.about-header h2 {
  margin-bottom: 20px;
}

.about-header p {
  margin-bottom: 45px;
}

.about-header button:first-of-type {
  margin-right: 15px;
}

/* Services */
.about .services {
  margin-top: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 150px;
}

.about .service img {
  height: 55px;
  margin-bottom: 35px;
}

.about .service h4 {
  margin-bottom: 25px;
}

/* #Products
================================================== */
.products {
  padding: 200px 0;
  background-color: #fbfbfd;
}

/* Header */
.products-header {
  margin-bottom: 100px;
  text-align: center;
}

.products-header h2 {
  margin-bottom: 15px;
}

.products-header > p {
  max-width: 600px;
  margin: 0 auto;
}

.products-header > div {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-header > div p {
  color: var(--purple-1);
}

.products-header > div p:not(:first-child) {
  opacity: .7;
}

/* Body */
.products-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.product {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 30px 45px 45px 45px;
}

.product .img {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product h4 {
  margin-bottom: 15px;
}

.products .icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 45px;
}

.products .icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products .icons img {
  height: 15px;
  width: 19px;
  object-fit: contain;
  margin-bottom: 10px;
}

.products .icons figcaption {
  font-family: 'f37';
  font-size: 10px;
  color: var(--purple-2);
}

.product .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  font-family: 'f37';
}

.product .price .p-secondary {
  color: var(--purple-4);
}

/* #Quality
================================================== */
.quality {
  padding: 200px 0;
  text-align: center;
}

/* Header */
.quality-header {
  margin-bottom: 100px;
}

.quality-header h2 {
  margin-bottom: 25px;
}

.quality-header p {
  max-width: 620px;
  margin: 0 auto;
}

/* Body */
.quality-body {
  display: flex;
  max-width: 1030px;
  margin: 0 auto;
}

.quality-body .item {
  flex: 0 0 33.3333%;
}

.quality-body figure {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quality-body .item p {
  max-width: 200px;
  margin: 0 auto;
}

/* #Vitamins
================================================== */
.vitamins {
  padding: 115px 0;
  background-color: #e7e6f0;
}

.vitamins .container {
  display: flex;
  align-items: center;
}

/* Text */
.vitamins .text {
  flex: 0 0 50%;
}

.vitamins h2 {
  margin-bottom: 30px;
}

.vitamins p {
  color: var(--purple-1);
  max-width: 580px;
}

.vitamins .d-flex {
  display: flex;
  margin: 45px 0 30px 0;
}

.vitamins .d-flex p {
  color: var(--purple-1);
}

.vitamins .d-flex p:first-child {
  margin-right: 50px;
}

.vitamins .d-flex p:not(:first-child) {
  opacity: .7;
}

.vitamins .btn-group {
  display: flex;
  align-items: center;
  margin: 45px 0;
}

.vitamins .btn-group p {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.vitamins .btn-group p img {
  margin-right: 10px;
}

/* Img */
.vitamins .img {
  flex: 0 0 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* #Reviews
================================================== */
.reviews {
  padding: 200px 0 240px 0;
  background-color: #fbfbfd;
  position: relative;
}

/* Header */
.reviews-header {
  text-align: center;
  margin-bottom: 90px;
}

.reviews-header h2 {
  margin-bottom: 20px;
}

/* Body */
.reviews-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  max-width: 1100px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.reviews-body .review {
  background-color: white;
  padding: 40px;
}

.reviews-body .review > img {
  margin: 20px 0 35px 0;
}

.reviews-body .review p {
  color: var(--purple-1);
}

.reviews-body .review .person {
  display: flex;
  margin-top: 65px;
}

.reviews-body .review .person img {
  margin-right: 20px;
}

.reviews-body .review .person p {
  line-height: 1.3;
}

/* Footer */
.reviews-footer {
  text-align: center;
}

.reviews-footer h2 {
  margin-bottom: 15px;
}

.reviews-footer p:first-child {
  font-family: 'GT Eesti Pro Display Medium';
}

.reviews-footer button {
  margin: 45px 0 20px 0;
}

/* Trolls Images */
.troll-img-group {
  position: absolute;
  bottom: 0;
  right: 0;
}

.troll-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* #Footer
================================================== */
.footer {
  padding: 100px 0;
  overflow: hidden;
}

.footer .container {
  display: flex;
}

/* Info */
.footer-info {
  flex: 0 0 50%;
  padding-right: 90px;
  position: relative;
  color: white;
}

.footer-info::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 300%;
  width: 300%;
  background-color: var(--purple-4);
  z-index: -1;
  transform: translateY(-50%);
}

.footer-info-title {
  font-family: 'f37';
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* Newsletter */
.newsletter {
  margin-bottom: 110px;
}

.newsletter .form-group {
  display: flex;
}

.newsletter input {
  height: 70px;
  flex-grow: 1;
  font-family: 'f37';
  color: white;
  background-color: #16153e;
  border: none;
  padding: 0 20px;
  font-size: 16px;
}

.newsletter input::placeholder {
  color: white;
}

.newsletter button {
  font-size: 20px;
  font-family: 'f37';
  background-color: #201e4f;
  color: white;
  border: none;
  padding: 0 40px;
}

.newsletter p {
  color: white;
  max-width: 370px;
  margin-top: 25px;
}

/* Social */
.social {
  margin-bottom: 75px;
}

.social ul {
  display: flex;
  align-items: center;
}

.social li:not(:last-child) {
  margin-right: 35px;
}

/* Info */
.info {
  margin-bottom: 70px;
}

.info p {
  color: white;
}

.info p:first-child {
  margin-bottom: 20px;
}

/* Copyright */
.copyright p {
  color: white;
}

.copyright a {
  border-bottom: 2px solid white;
}

/* Links */
.footer-links {
  flex: 0 0 50%;
  padding-left: 120px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav .link-group {
  flex: 0 0 50%;
  margin-bottom: 50px;
}

.footer-nav h5 {
  font-family: 'f37';
  color: var(--purple-1);
  font-size: 18px;
  margin-bottom: 25px;
}

.footer-nav li a {
  font-family: 'f37';
  font-size: 16px;
  color: var(--purple-2);
  line-height: 2;
}

.footer-links .apps {
  margin-top: 30px;
  display: flex;
}

.footer-links .apps a:first-child {
  margin-right: 15px;
}